.container{
    background-color: tan;
    padding: 15px;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 200px);
}
.user {
    background-color: brown;
    color: white;
    padding: 8px;
    text-align: center;
}