p {
    background-color: green;
    color: #fff;
    padding: 10px;

    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline;
    text-align: center;
    text-align: right;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;

    width: 500px;
}

a {
    text-decoration: none;
    background-color: black;
    color: #fff;
    display: inline-block;
    width: 100px;

    text-align: left;
    text-align: start;
    text-align: end;
}

section {
    background-color: #eda;
    padding: 15px;
    text-align: center;

}

.arb {
    direction: rtl;
    text-align: left;
}

footer {
    text-transform: capitalize;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 
        0.5px 0px 0px #ccc, 
        1px 0px 0px  #ccc,
        1.5px 0px 0px  #ccc,
        2px 0px 0px  #ccc,
        2.5px 0px 0px  #ccc;
}

p.spacing {
    text-decoration: none;
    text-align: left;
    letter-spacing: 5px;
    word-spacing: 15px;
    line-height: 1.26;
    text-indent: 30px;
}

section.overflow {
    text-align: left;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.overflow:hover {
    background-color: tomato;
    white-space: normal;
    word-break: break-word;
    word-break: break-all;
}