div {
    background-color: darkgoldenrod;
    padding: 10px;
    width: 250px;
    color: white;
    margin: 30px auto;
    text-align: center;
    font-size: 22px;
    transition: 0.5s;
}


/* can take -ve values   */
.skew-x:hover {
    transform: skewX(50deg);
}
.skew-y:hover{
    transform: skewY(15deg);
}
.skew:hover{
    transform: skew(40deg , 15deg);
}

header{
    background-color: black;
    color: #fff;
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    /* padding-left: 60px; */

    /* transform: skewx(-25deg); */
    position: relative;
}

header::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: inherit;
    top: 0;
    left: -50px;
    transform: skewX(40deg);
    z-index: -1;
}
header::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: inherit;
    top: 0;
    right: -50px;
    transform: skewX(-40deg);
}


h2 {
    color: #fff;
    /* background-color: crimson; */
    padding: 10px;
    text-align: center;
    width: 150px;
    margin: auto;
    /* transform: skewX(40deg); */
    position: relative;
}
h2::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    transform: skewX(40deg);
    z-index: -1;
}
h2::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    transform: skewX(-40deg);
    z-index: -1;
}