* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: crimson;
    height: 10vh;

    display: grid;
    grid-template-columns: 20% 40%;
    align-items: center;
    padding: 0 50px;

    position: sticky;
    top: 0;
}

nav {
    /* background-color: rebeccapurple; */
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

nav a {
    color: #fff;
    text-decoration: none;
}



main {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

aside {
    background-color: tan;
    position: fixed;
    top: 10vh;
    width: 15%;
    height: 90vh;
}
.right{
    right: 0;
    
}
.left {
    left: 0;
}
section {
    background-color: rgb(227, 141, 29);
}

section p {
    padding: 10px;
    background-color: wheat;
    margin: 10px;
}


footer {
    background-color: black;
    display: grid;
    grid-template-columns: 15% 15%;
    padding: 30px 60px;

    position: relative;
    z-index: 6;

}

footer div {
    display: grid;
    grid-template-rows: repeat(5, 30px);
}

footer a {
    color: #fff;
}